*.jar
*.class
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.calva
target/
data/
.DS_Store
.lsp
.nrepl-port
csa-db
.clj-kondo
codax-db-test
default-codax
*.tar.gz
.cpcache/
*-report.csv
*-descriptions.md
