{:paths   ["src" "test"]
 :deps    {clj-kondo/clj-kondo                  {:mvn/version "2023.01.20"}
           dev.weavejester/cljfmt               {:mvn/version "0.11.2"}

           io.github.dscarpetti/codax           {:git/sha "bdfa11bf878012884b5c82f5fa230b40e8677d84"
                                                 :deps/manifest :deps}
           com.taoensso/nippy                   {:mvn/version "3.2.0"}
           clj-time/clj-time                    {:mvn/version "0.13.0"}
           org.clojure/core.cache               {:mvn/version "0.6.5"}

           com.taoensso/tempura                 {:mvn/version "1.5.3"}
           consimilo/consimilo                  {:mvn/version "0.1.1"}

           compojure/compojure                  {:mvn/version "1.7.0"}
           ring/ring-core                       {:mvn/version "1.8.2"}
           ring/ring-jetty-adapter              {:mvn/version "1.8.2"}
           ring/ring-json                       {:mvn/version "0.5.1"}

           morse/morse                          {:mvn/version "0.4.3"}
           org.clojure/clojure                  {:mvn/version "1.11.1"}
           org.clojure/core.match               {:mvn/version "1.0.1"}
           org.clojure/data.csv                 {:mvn/version "1.0.1"}
           org.clojure/tools.trace              {:mvn/version "0.7.11"}}

 :linters {:not-empty? {:level :off}}

 :aliases {:uberjar {:extra-deps {seancorfield/depstar {:mvn/version "2.0.216"}}
                     :exec-fn    hf.depstar/uberjar
                     :exec-args  {:jar "course-bot.jar" :compile-ns [course-bot.csa] :main-class "course-bot.csa"}}
           :dev     {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
           :lint    {:main-opts ["-m" "clj-kondo.main" "--lint" "src" "--lint" "test" "--config" "deps.edn"]}
           :fmt     {:main-opts ["-m" "cljfmt.main" "check"]}
           :test    {:extra-paths ["test"]
                     :extra-deps  {io.github.cognitect-labs/test-runner
                                   {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                     :main-opts   ["-m" "cognitect.test-runner"]
                     :exec-fn     cognitect.test-runner.api/test}
           :nrepl {:extra-deps  {refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                                 cider/cider-nrepl             {:mvn/version "LATEST"}}

                   :main-opts   ["-m" "nrepl.cmdline"
                                 "-b" "0.0.0.0"
                                 "--middleware"
                                 "[cider.nrepl/cider-middleware]"]}}}
